{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .size-options {
            position: relative;
            z-index: 10;
            }

        .size-option {
            cursor: pointer; /* Pointer cursor to show it's clickable */
            display: inline-block;
            margin: 5px;
        }

        .size-option.selected {
            background-color: #e6dddd;
            color: white;
            border-color: #e6dddd;
        }

        .size-option:hover {
            background-color: #e6dddd;
        }
        .disabled {
                color: #999;
                cursor: not-allowed;  /* Курсорът ще бъде неактивен */
    opacity: 0.5; /* Светло сив цвят за текста */
            }

    </style>

    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'common' %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form id="search-bar" action="#" method="get" class="search-form">
                                <input type="text" id="searchbar" name="search_data" value="{{ request.GET.search_data }}">
                                <button type="submit" class="close-button not-clicked" data-cancel="doom"><span class="icon_close"></span></button>
                                <button type="submit" class="search-button"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul id="product-list" class="nice-scroll">
                                                    <li class="category-filter" data-category="clothing"><a href="#">Clothing ({{ total_clothing }})</a></li>
                                                    <li class="category-filter" data-category="shoes"><a href="#">Shoes ({{ total_shoes }})</a></li>
                                                    <li class="category-filter" data-category="accessories"><a href="#">Accessories ({{ total_accessories }})</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li class="brand-filter" data-brand="LV"><a href="#">Louis Vuitton</a></li>
                                                    <li class="brand-filter" data-brand="Chanel"><a href="#">Chanel</a></li>
                                                    <li class="brand-filter" data-brand="Hermes"><a href="#">Hermes</a></li>
                                                    <li class="brand-filter" data-brand="Gucci"><a href="#">Gucci</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li class="price-filter" data-price="0-50"><a href="#">$0.00 - $50.00</a></li>
                                                    <li class="price-filter" data-price="50-100"><a href="#">$50.00 - $100.00</a></li>
                                                    <li class="price-filter" data-price="100-150"><a href="#">$100.00 - $150.00</a></li>
                                                    <li class="price-filter" data-price="150-200"><a href="#">$150.00 - $200.00</a></li>
                                                    <li class="price-filter" data-price="200-250"><a href="#">$200.00 - $250.00</a></li>
                                                    <li class="price-filter" data-price="250-+"><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label class="size-filter" data-size="XS" for="xs">xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label class="size-filter" data-size="S" for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label class="size-filter" data-size="M" for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label class="size-filter" data-size="L" for="xl">l
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label class="size-filter" data-size="XL" for="2xl">xl
                                                    <input type="radio" id="2xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1 color-filter" data-color="black" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2 color-filter" data-color="blue" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3 color-filter" data-color="yellow" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4 color-filter" data-color="grey" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                <label class="c-5 color-filter" data-color="brown" for="sp-5">
                                                    <input type="radio" id="sp-5">
                                                </label>
                                                <label class="c-6 color-filter" data-color="pink" for="sp-6">
                                                    <input type="radio" id="sp-6">
                                                </label>
                                                <label class="c-7 color-filter" data-color="light-purple" for="sp-7">
                                                    <input type="radio" id="sp-7">
                                                </label>
                                                <label class="c-8 color-filter" data-color="red" for="sp-8">
                                                    <input type="radio" id="sp-8">
                                                </label>
                                                <label class="c-9 color-filter" data-color="white" for="sp-9">
                                                    <input type="radio" id="sp-9">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    {% if object_list|length < 12 %}
                                        {% if object_list|length == 1 %}
                                            <p>Showing 1 of {{ object_list|length }} results</p>
                                        {% elif object_list|length == 0 %}
                                            <p>No results</p>
                                        {% else %}
                                            <p>Showing 1-{{ object_list|length }} of {{ object_list|length }} results</p>
                                        {% endif %}
                                    {% else %}
                                        <p>Showing 1-12 of {{ object_list|length }} results</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="filtered-products">
                            {% for product in object_list %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item product-list">
                                        <div class="product__item__pic set-bg" data-setbg="{{ product.main_image.url }}">
                                            <a href="{% url 'detail_product' product.pk %}">
                                                <img src="{{ product.main_image.url }}" alt="{{ product.name }}">
                                            </a>

                                            <ul class="product__hover">
                                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
                                                <li  class="wishlist-item" data-product-id="{{ product.id }}" >
                                                    <a href="javascript:void(0);" class="add-to-wishlist">
                                                    {% if request.user.is_authenticated %}

                                                        {% for el in wishlist_item %}
                                                            {% if product.id == el.product_id %}
                                                                <img src="{% static 'img/icon/heart-solid-svgrepo-com(1).svg' %}" alt="">
                                                            {% else %}
                                                                <img src="{% static 'img/icon/heart.png' %}" alt="">
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if not wishlist_item %}
                                                            <img src="{% static 'img/icon/heart.png' %}" alt="">

                                                        {% endif %}
                                                        </a>
                                                        <span>Like it</span>
                                                    {% endif %}
                                                </li>
                                                 {% if has_perm %}
                                                    <li><a href="{% url 'edit_product' product.id %}"><img src="{% static 'img/icon/pen-to-square-regular.svg' %}" alt=""></a><span>Edit Product</span></li>
                                                {% endif %}


                                            </ul>
                                        </div>

                                        <div class="product__item__text">
                                            <h6>{{ product.name }}</h6>

                                            <!-- Add to Cart button -->
                                            <a href="javascript:void(0);" class="add-cart" data-product-id="{{ product.id }}" data-product-type="{{ product.category.name }}" data-accessory-id="{{product.accessory.id}}">+ Add To Cart</a>

                                            <!-- Choose a size text (this will be shown when "Add to Cart" is clicked) -->
                                            <div id="choose-size-text-{{ product.id }}" style="display:none;">
                                                <p>Choose a size</p>
                                                <a href="javascript:void(0);" class="close-size-selection" data-product-id="{{ product.id }}">
                                                        <span class="icon_close"></span>
                                                </a>
                                            </div>

                                            <!-- Size selection form (initially hidden) -->
                                                <div class="size-selection-form" id="size-selection-{{ product.id }}" style="display:none;">
                                                    <form id="size-form-{{ product.id }}" class="size-form">
                                                        <div class="size-options" id="size-options-{{ product.id }}" style="display: flex; justify-content: space-around">
                                                            <!-- Dynamically generated size options -->
                                                        </div>
                                                        {% if user_logged_in %}
                                                            <button type="submit" class="btn btn-secondary">Add to Cart</button>
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            <h5>{{ product.price }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {% if not page_obj.has_next and page_obj.number == 1 %}
                                    <p>That's the only page</p>
                                {% else %}
                                    <div class="pagination">
                                        <span class="step-links">
                                            <!-- First and Previous page links -->

                                            <!-- Show Page Numbers with Ellipsis if necessary -->
                                            {% for num in page_obj.paginator.page_range %}
                                                {% if num == page_obj.number %}
                                                    <a class="active" href="#">{{ num }}</a>  <!-- Active current page -->
                                                {% elif num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                                                    <a href="?page={{ num }}">{{ num }}</a>  <!-- Nearby pages (within +-3) -->
                                                {% elif num == 1 or num == page_obj.paginator.num_pages %}
                                                    <a href="?page={{ num }}">{{ num }}</a>  <!-- First and last page links -->
                                                {% elif num == page_obj.number|add:'-4' %}
                                                    <span>...</span>  <!-- Ellipsis before current page -->
                                                {% elif num == page_obj.number|add:'3' %}
                                                    <span>...</span>
                                                {% endif %}
                                            {% endfor %}

                                            <!-- Next and Last page links -->
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const wishlistButtons = document.querySelectorAll('.add-to-wishlist');

        wishlistButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                const productId = this.closest('.wishlist-item').getAttribute('data-product-id');
                const heartIcon = this.querySelector('img'); // Вземаме иконата на сърцето

                // Изпращаме POST/DELETE заявка за добавяне/премахване на продукта от wishlist
                fetch(`/api/toggle-wishlist/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Променяме иконата на сърцето в зависимост от резултата
                    if (data.message === 'Product added to wishlist') {
                        heartIcon.src = "{% static 'img/icon/heart-solid-svgrepo-com(1).svg' %}";
                        console.log(heartIcon)
                        console.log('Product added to wishlist')
                    } else if (data.message === 'Product removed from wishlist') {
                        heartIcon.src = "{% static 'img/icon/heart.png' %}";
                        console.log(heartIcon)
                        console.log('Product removed from wishlist')

                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while toggling the wishlist.');
                });
            });
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

        var closeButton = document.querySelector('.icon_close');

        // Add click event listener
        closeButton.addEventListener('click', function() {
            // Clear the search query (e.g., input field)
            var searchInput = document.getElementById('searchbar');
            searchInput.value = '';  // Clears the input field
            console.log(searchInput)

            // Optionally, you could also clear any other displayed search query
            // For example, if you have a div or span showing the search query, clear it:
            var displayedQuery = document.getElementById('displayedSearchQuery');
            if (displayedQuery) {
                displayedQuery.textContent = '';  // Clear the displayed query
            }
        });

        $(document).ready(function() {
    // Обработване на клик върху бутона "Add to Cart" (показване на формата за избор на размер)
    $('.add-cart').click(function(event) {
        event.preventDefault();  // Предотвратяваме стандартното поведение

        var productId = $(this).data('product-id');  // Вземаме ID на продукта
        var productType = $(this).data('product-type');  // Вземаме ID на продукта

        var sizeSelectionForm = $('#size-selection-' + productId);
        var sizeOptionsDiv = $('#size-options-' + productId); // Вземаме контейнера за опциите за размери
        var addToCartButton = $(this); // Бутонът "Add to Cart"
        var chooseSizeText = $('#choose-size-text-' + productId); // Текста "Choose a size"
        var accessory_id = $(this).data('accessory-id');


        if (productType === 'accessories') {
                addToCart(productId, null, accessory_id);  // Изпращаме заявка за добавяне в количката без размер
                return;  // Прекратяваме изпълнението на останалата част от кода
            }

        addToCartButton.hide();  // Скриваме бутона
        sizeSelectionForm.show(); // Показваме формата
        chooseSizeText.show();  // Показваме текста "Choose a size"

        function addToCart(productId, size, accessory_id) {
            var url = '/product/add-to-cart/' + productId + '/'
            var csrfToken = $('meta[name="csrf-token"]').attr('content');  // CSRF token for security

            $.ajax({
                url: url,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: {
                    product_id: productId,
                    size: size  // If size is provided, it will be sent
                },
                success: function(response) {
                    alert('Product added to cart!');
                    console.log(response);
                    // You can also update the cart icon or other UI elements here
                },
                error: function(xhr, status, error) {
                        console.log('assasaaaaaaaaaaa')
                        addToCartButton.addClass('disabled')
                        event.preventDefault()
                        alert('This accessory is out of stock');
                            return
                    console.log(xhr.responseText);
                }
            });
        }


        // Извършваме AJAX заявка за наличните размери за продукта
        var url = '/product/get-sizes/' + productId + '/';  // URL за извличане на размерите
        var csrfToken = $('meta[name="csrf-token"]').attr('content');  // Вземаме CSRF токена

        $.ajax({
            url: url,  // API endpoint за заявка за размери
            method: 'GET',  // Използваме GET за получаване на размери
            headers: {
                'X-CSRFToken': csrfToken  // Добавяме CSRF токен за сигурност
            },
            success: function(response) {
                if (response.sizes) {
                    // Почистваме старите опции за размери преди да добавим нови
                    sizeOptionsDiv.empty();

                    response.sizes.forEach(function(size) {
                        var sizeOption = '<label class="size-option"><input type="radio" name="size" value="' + size.size + '"> ' + size.size + '  </label><br>';

                        // Ако количеството е по-малко или равно на 0, правим опцията неактивна
                        if (size.stock_quantity <= 0) {
                            sizeOption = '<label class="size-option disabled"><input type="radio" name="size" value="' + size.size + '" disabled=""> ' + size.size + '  </label><br>';
                            sizeOption.disabled = true


                        }

                        // Добавяме опцията към контейнера
                        sizeOptionsDiv.append(sizeOption);
                    });


                    // Добавяме събитие при избор на размер
                    $('.size-option').click(function() {
                    if ($(this).hasClass('disabled')) {
                        alert('This product is out of stock in the selected size.')
                        return;  // Прекратяваме изпълнението на функцията, ако е деактивиран
                    }

                    var selectedSize = $(this).find('input').val(); // Вземаме избрания размер

                    // Подчертаваме избрания размер
                    $(this).addClass('selected').siblings().removeClass('selected');

                    // Записваме избрания размер в data атрибута на формата
                    $('#size-selection-' + productId).data('selected-size', selectedSize);
                });
                                } else {

                    alert('Няма налични размери за този продукт.');
                }
            },
            error: function(xhr, status, error) {
                alert('Грешка при извличането на размерите.');
                console.log(xhr.responseText);  // Логваме грешките
            }
        });
    });
});

    // Handle the form submission (when user clicks "Add to Cart" after selecting a size)
    $(document).on('submit', '.size-form', function(event) {
        event.preventDefault();  // Prevent form submission

        var productId = $(this).attr('id').split('-')[2];  // Get the product ID from the form ID
        var selectedSize = $('#size-selection-' + productId).data('selected-size');  // Get the selected size

        if (!selectedSize) {
            // If no size is selected, show an error message
            alert("Please select a size before adding to cart.");
            return;  // Prevent form submission if no size is selected
        }

        // Send the selected size and product ID to the server to add the item to the cart
        var url = '/product/add-to-cart/' + productId + '/';  // API endpoint to add the product to the cart
        var csrfToken = $('meta[name="csrf-token"]').attr('content');  // CSRF token

        $.ajax({
            url: url,  // API endpoint to handle the POST request
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken  // Include CSRF token for security
            },
            data: {
                product_id: productId,
                size: selectedSize  // Send selected size with the request
            },
            success: function(response) {
                alert('Product added to cart!');
                console.log(response);  // Log the response from the server

                // After adding the product to the cart, reset the form and size selection
                $('#choose-size-text-' + productId).hide();
                $('#size-selection-' + productId).hide();
                $('a[data-product-id="' + productId + '"]').show();  // Show the "Add to Cart" button again

                // Clear selected size data to ensure it doesn't persist
                $('#size-selection-' + productId).data('selected-size', null);  // Reset the selected size

                // Optionally, you can clear the selected radio button to avoid any stale data
                $('#size-options-' + productId).find('input[type="radio"]').prop('checked', false);
            },
            error: function(xhr, status, error) {
                alert('You have exceeded the value of the products, please choose another one');
                console.log(xhr.responseText);  // Log any error messages
            }
        });
    });

    // Close the size selection when the "x" link is clicked
    $(document).on('click', '.close-size-selection', function(event) {
        var productId = $(this).data('product-id');  // Get the product ID from the clicked link
        var sizeSelectionForm = $('#size-selection-' + productId); // Get the size selection form
        var chooseSizeText = $('#choose-size-text-' + productId); // The "Choose a size" text
        var addToCartButton = $('a[data-product-id="' + productId + '"]'); // Get the Add to Cart button

        // Hide the size selection form and "Choose a size" text
        sizeSelectionForm.hide();
        chooseSizeText.hide();

        // Show the "Add to Cart" button again
        addToCartButton.show();
    })



           $(document).ready(function(){
            $(".category-filter, .brand-filter, .price-filter, .size-filter, .color-filter, .price-sort").click(function(e){
                e.preventDefault();

                var category = $(this).data('category');
                var brand = $(this).data('brand');
                var price = $(this).data('price');
                var size = $(this).data('size');
                var color = $(this).data('color');

                var sort_price = '';

                var searchQuery = $('#searchbar').val() || '';

                if(category){
                    if ($(this).hasClass('active')) {
                        $('.category-filter').removeClass('active btn-secondary');
                        category = '';
                    } else {
                        $('.category-filter').removeClass('active btn-secondary');
                        $(this).addClass('active btn-secondary');
                    }
                }else if(brand){
                    if ($(this).hasClass('active')) {
                        $('.brand-filter').removeClass('active btn-secondary');
                        brand = '';
                    } else {
                        $('.brand-filter').removeClass('active btn-secondary');
                        $(this).addClass('active btn-secondary');
                    }
                }else if(price){
                    if ($(this).hasClass('active')) {
                        $('.price-filter').removeClass('active btn-secondary');
                        price = '';
                    } else {
                        $('.price-filter').removeClass('active btn-secondary');
                        $(this).addClass('active btn-secondary');
                    }
                }else if(size){
                    var radioButton = $('#' + $(this).attr('for'));

                    if (radioButton.prop('checked')) {
                        radioButton.prop('checked', false);
                        $(this).removeClass('active btn-secondary');
                        size=''
                    } else {
                        radioButton.prop('checked', true);
                        $(this).addClass('active btn-secondary');

                        $('.size-filter').not(this).removeClass('active btn-secondary');

                        $('.size-filter').not(this).each(function() {
                            var otherRadioButton = $('#' + $(this).attr('for'));
                            otherRadioButton.prop('checked', false);
                        });
                    }
                }else if(color) {
                    var radioButton = $('#' + $(this).attr('for'));

                    if (radioButton.prop('checked')) {
                        radioButton.prop('checked', false);
                        $(this).removeClass('selected');
                        color = ''
                    } else {
                        $(this).addClass('selected');
                        radioButton.prop('checked', true);
                    }

                    $('.color-filter').not(this).removeClass('selected');

                    $('.color-filter').not(this).each(function () {
                        var otherRadioButton = $('#' + $(this).attr('for'));
                        otherRadioButton.prop('checked', false);
                    });

                    e.stopImmediatePropagation();
                }


                // Capture the selected sort price value (dropdown change event)
                var selectedSort = $(".shop__product__option__right select").val();  // Get the selected value from the dropdown
                if (selectedSort) {
                    if (selectedSort === "Low To High") {
                        sort_price = "Low To High";
                    } else if (selectedSort === "High To Low") {
                        sort_price = "High To Low";
                    } else {
                        sort_price = "None"; // Handle the "None" option
                    }
                }

                var elements = $(".active.btn-secondary, .selected")
                if (elements) {

                    elements.each(function() {
                        var el = $(this);
                        if(el.data('category')){
                            category = el.data('category')
                        }else if(el.data('brand')){
                            brand = el.data('brand')}
                        else if(el.data('price')) {
                            price = el.data('price')
                        }else if(el.data('size')) {
                            size = el.data('size')
                        }else if(el.data('color')) {
                            color = el.data('color')
                        }
                        sorted_price = sort_price
                        searched_data = searchQuery
                    });
                }
                    filterProducts(category, brand, price, size, color, sorted_price, searched_data);
                });

                $(".shop__product__option__right select").change(function() {
                var selectedSort = $(this).val();  // Get the selected value from the dropdown
                var category = $('.category-filter.active').data('category') || '';
                var brand = $('.brand-filter.active').data('brand') || '';
                var price = $('.price-filter.active').data('price') || '';
                var size = $('.size-filter.active').data('size') || '';
                var color = $('.color-filter.selected').data('color') || '';
                var searchQuery = $('#searchbar').val() || '';

                $('#searchbar').val(searchQuery);  // Populate the search field with the current search term


                filterProducts(category, brand, price, size, color, selectedSort, searchQuery);

        });
            function filterProducts(category, brand, price, size, color, sort_price, searchQuery) {
    $.ajax({
        url: "{% url 'all-products' %}",
        data: {
            'category': category,
            'brand': brand,
            'price': price,
            'size': size,
            'color': color,
            'sort-price': sort_price,
            'search_data': searchQuery,
        },
        dataType: 'json',
        success: function(response) {
            $('#filtered-products').empty();

            if (response.products && Array.isArray(response.products)) {
                var productsLength = response.products.length;
                var productCountMessage = '';
                if (productsLength === 0) {
                    productCountMessage = `No results`;
                } else if (productsLength === 1) {
                    productCountMessage = `Showing 1 of ${productsLength} result`;
                } else if (productsLength < 12) {
                    productCountMessage = `Showing 1-${productsLength} of ${productsLength} results`;
                } else {
                    productCountMessage = `Showing 1-12 of ${productsLength} results`;
                }

                // Update the product count message dynamically (client-side)
                $('.shop__product__option__left').html(`<p>${productCountMessage}</p>`);

                response.products.forEach(function(product) {
                    var productHTML = `

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item product-list" data-category="${product.category}">
                                <div class="product__item__pic set-bg" data-setbg="${ product.main_image}">
                                <a href="/product/product-details/${product.id}">
                                    <img src="${ product.main_image }" alt="${ product.name }">
                                </a>

                                </div>

                                <div class="product__item__text">
                                    <h6>${ product.name }</h6>

                                    <!-- Add to Cart button -->
                                  <a href="javascript:void(0);" class="add-cart" data-product-id="${ product.id }" data-product-type="${product.category}">+ Add To Cart</a>


                                    <!-- Choose a size text (this will be shown when "Add to Cart" is clicked) -->
                                    <div id="choose-size-text-${ product.id }" style="display:none;">
                                        <p>Choose a size</p>
                                        <a href="javascript:void(0);" class="close-size-selection" data-product-id="${ product.id }">
                                            <span class="icon_close"></span>
                                        </a>
                                    </div>

                                    <!-- Size selection form (initially hidden) -->
                                    <div class="size-selection-form" id="size-selection-${ product.id }" style="display:none;">
                                        <form id="size-form-${ product.id }" class="size-form">
                                            <div class="size-options" id="size-options-${ product.id }" style="display: flex; justify-content: space-around">
                                                <!-- Dynamically generated size options -->
                                            </div>
                                            <button type="submit" class="btn btn-secondary">Add to Cart</button>
                                        </form>
                                    </div>


                                    <h5>${ product.price }</h5>

                                </div>
                            </div>
                        </div>
                    `;
                    $('#filtered-products').append(productHTML);
                });

                $('.add-cart').click(function(event) {
                    event.preventDefault();  // Prevent default action

                    var productId = $(this).data('product-id');  // Get the product ID
                    var sizeSelectionForm = $('#size-selection-' + productId); // Get the size selection form
                    var sizeOptionsDiv = $('#size-options-' + productId); // Get the size options container
                    var addToCartButton = $(this); // The Add to Cart button
                    var chooseSizeText = $('#choose-size-text-' + productId); // The "Choose a size" text

                    var productType = $(this).data('product-type');  // Вземаме ID на продукта

                    if (productType === 3) {
                            addToCart(productId, null);  // Изпращаме заявка за добавяне в количката без размер
                            return;  // Прекратяваме изпълнението на останалата част от кода
                        }


                    console.log('Product Id: ', productId)
                    console.log('sizeSelectionForm: ', sizeSelectionForm)
                    console.log('sizeOptionsDiv', sizeOptionsDiv)
                    console.log('addToCartButton: ', addToCartButton)
                    console.log('chooseSizeText', chooseSizeText)
                    console.log('------------------------------')


                    // Show the size selection form when the "Add to Cart" button is clicked
                    sizeSelectionForm.show();

                    // Hide the "Add to Cart" button
                    addToCartButton.hide();

                    // Show the "Choose a size" text and ensure it stays visible
                    chooseSizeText.show();

                    // Fetch available sizes for the product via AJAX

                    function addToCart(productId, size) {
                        var url = '/product/add-to-cart/' + productId + '/'
                        var csrfToken = $('meta[name="csrf-token"]').attr('content');  // CSRF token for security

                        $.ajax({
                            url: url,
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrfToken
                            },
                            data: {
                                product_id: productId,
                                size: size  // If size is provided, it will be sent
                            },
                            success: function(response) {
                                alert('Product added to cart!');
                                console.log(response);
                                // You can also update the cart icon or other UI elements here
                            },
                            error: function(xhr, status, error) {
                                alert('Error adding to cart.');
                                console.log(xhr.responseText);
                            }
                        });
                    }

                    var url = '/product/get-sizes/' + productId + '/';  // Correct URL for fetching sizes
                    var csrfToken = $('meta[name="csrf-token"]').attr('content');  // CSRF token

                    $.ajax({
            url: url,  // API endpoint за заявка за размери
            method: 'GET',  // Използваме GET за получаване на размери
            headers: {
                'X-CSRFToken': csrfToken  // Добавяме CSRF токен за сигурност
            },
            success: function(response) {
                if (response.sizes) {
                    // Почистваме старите опции за размери преди да добавим нови
                    sizeOptionsDiv.empty();

                    // Добавяме новите опции за размери към формата
                    response.sizes.forEach(function(size) {
                        var sizeOption = '<label class="size-option"><input type="radio" name="size" value="' + size.size + '"> ' + size.size + '  </label><br>';

                        // Ако количеството е по-малко или равно на 0, правим опцията неактивна
                        if (size.stock_quantity <= 0) {
                            sizeOption = '<label class="size-option disabled"><input type="radio" name="size" value="' + size.size + '" disabled=""> ' + size.size + '  </label><br>';
                            sizeOption.disabled = true
                        }

                        // Добавяме опцията към контейнера
                        sizeOptionsDiv.append(sizeOption);
                    });


                    // Добавяме събитие при избор на размер
                    $('.size-option').click(function() {
                        var selectedSize = $(this).find('input').val(); // Вземаме избрания размер

                        // Подчертаваме избрания размер
                        $(this).addClass('selected').siblings().removeClass('selected');

                        // Записваме избрания размер в data атрибута на формата
                        $('#size-selection-' + productId).data('selected-size', selectedSize);
                    });
                } else {
                    alert('Няма налични размери за този продукт.');
                }
            },
            error: function(xhr, status, error) {
                alert('Грешка при извличането на размерите.');
                console.log(xhr.responseText);  // Логваме грешките
            }
        });

                });

                // Handle the close (X) button click
                $(document).on('click', '.close-size-selection', function(event) {
                    var productId = $(this).data('product-id');  // Get the product ID from the clicked link
                    var sizeSelectionForm = $('#size-selection-' + productId); // Get the size selection form
                    var chooseSizeText = $('#choose-size-text-' + productId); // The "Choose a size" text
                    var addToCartButton = $('a[data-product-id="' + productId + '"]'); // Get the Add to Cart button

                    // Hide the size selection form and "Choose a size" text
                    sizeSelectionForm.hide();
                    chooseSizeText.hide();

                    // Show the "Add to Cart" button again
                    addToCartButton.show();

                }


                );

            } else {
                console.error("Error: No products found in response.");
            }
        },
        error: function(xhr, status, error) {
            console.error("Error fetching products: " + error);
        }
    });
}
            })
    </script>
{% endblock %}