<div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item product-list" data-category="${product.category}">
                                <div class="product__item__pic set-bg" data-setbg="${ product.main_image}">
                                    <img src="${ product.main_image }" alt="${ product.name }">

                                    <ul class="product__hover">
                                        <li><a href=""><img src="{% static 'img/icon/heart.png' %}" alt=""></a><span>Like it</span></li>
                                        <li><a href="#"><img src="{% static 'img/icon/compare.png' %}" alt=""> <span>Compare</span></a></li>
                                        <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a><span>Search</span></li>
                                    </ul>
                                </div>

                                <div class="product__item__text">
                                    <h6>${ product.name }</h6>

                                    <!-- Add to Cart button -->
                                    <a href="javascript:void(0);" class="add-cart" data-product-id="${ product.id }">+ Add To Cart</a>

                                    <!-- Choose a size text (this will be shown when "Add to Cart" is clicked) -->
                                    <div id="choose-size-text-${ product.id }" style="display:none;">
                                        <p>Choose a size</p>
                                        <a href="javascript:void(0);" class="close-size-selection" data-product-id="${ product.id }">
                                            <span class="icon_close"></span>
                                        </a>
                                    </div>

                                    <!-- Size selection form (initially hidden) -->
                                    <div class="size-selection-form" id="size-selection-${ product.id }" style="display:none;">
                                        <form id="size-form-${ product.id }" class="size-form">
                                            <div class="size-options" id="size-options-${ product.id }" style="display: flex; justify-content: space-around">
                                                <!-- Dynamically generated size options -->
                                            </div>
                                            <button type="submit" class="btn btn-secondary">Add to Cart</button>
                                        </form>
                                    </div>


                                    <h5>${ product.price }</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>