<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <h2>Welcome to Our Site, {{ user.first_name }}!</h2>

    <p>Thank you for signing up with us! To complete your registration and activate your account, please click the link below:</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}/account/activate/{{ uid }}/{{ token }}/">
            Activate your account
        </a>
    </p>

    <p>If you did not sign up for an account with us, you can ignore this email.</p>

    <p>Thanks,<br>
    The MaleFashion Team</p>
</body>
</html>