<script>
document.addEventListener("DOMContentLoaded", function () {

    const allArrows = document.querySelectorAll('.fa-angle-left, .fa-angle-right');
    allArrows.forEach(function (arrow) {
        if (!arrow.hasAttribute('data-id') || !arrow.hasAttribute('data-size')) {
            arrow.remove();
        }
    });

        const quantityInputs = document.querySelectorAll('.quantity-input');
        quantityInputs.forEach(inputElement => {
        const dataId = inputElement.getAttribute('data-id');
        const dataSize = inputElement.getAttribute('data-size');
        const maxQuantity = parseInt(inputElement.getAttribute('data-max-quantity'));


        const decreaseButton = document.querySelector(`.fa-angle-left.dec[data-id='${dataId}'][data-size='${dataSize}']`);
        const increaseButton = document.querySelector(`.fa-angle-right.inc[data-id='${dataId}'][data-size='${dataSize}']`);


        let currentQuantity = parseInt(inputElement.value);
        console.log('Current quantity:', currentQuantity);

        // Ако количеството е 1 или по-малко, скриваме бутона за намаляване
        if (currentQuantity <= 1) {
            decreaseButton.classList.add('hidden'); // Скриваме стрелката за намаляване
        }else if(currentQuantity === maxQuantity){
            increaseButton.classList.add('hidden')
        }
    });

    const increaseButtons = document.querySelectorAll('.fa-angle-right.inc');
    increaseButtons.forEach(button => {
        button.addEventListener('click', function () {
            const inputElement = document.querySelector(`input[data-id='${button.getAttribute('data-id')}'][data-size='${button.getAttribute('data-size')}']`);
            const price = parseFloat(inputElement.getAttribute('data-price'));
            const dataId = button.getAttribute('data-id');
            const descButtonB = document.querySelector(`.fa-angle-left.dec[data-id='${dataId}']`);
            descButtonB.classList.remove('hidden')


            var maxQuantity = parseInt(inputElement.getAttribute('data-max-quantity'));
            maxQuantity -= 1;

            let currentQuantity = parseInt(inputElement.value);
            currentQuantity -= 1;

            console.log(currentQuantity)
            console.log(maxQuantity)

            if (currentQuantity + 1 === maxQuantity){
                button.classList.add('hidden');
        }
            if (currentQuantity < maxQuantity) {
                currentQuantity += 1;
                inputElement.value = currentQuantity;
                updatePrice(inputElement, price);

                // Добавяне на продукт към количката чрез AJAX
                const productId = button.getAttribute('data-id');
                const sizeId = button.getAttribute('data-size');
                addItemToOrder(productId, sizeId);

                // Актуализиране на общата сума на количката
                updateCartTotal();
            } else {
                alert("Не можете да поръчате повече от наличното количество за този размер.");
                button.disabled = true; // Disable the increase button if max quantity is reached
                button.classList.add('hidden');
            }
        });
    });

    const decreaseButtons = document.querySelectorAll('.fa-angle-left.dec');
    decreaseButtons.forEach(button => {
    button.addEventListener('click', function () {
        const inputElement = document.querySelector(`input[data-id='${button.getAttribute('data-id')}'][data-size='${button.getAttribute('data-size')}']`);
        const price = parseFloat(inputElement.getAttribute('data-price'));
        const maxQuantity = parseInt(inputElement.getAttribute('data-max-quantity'));
        const dataId = button.getAttribute('data-id');
        const increaseButtonB = document.querySelector(`.fa-angle-right.inc[data-id='${dataId}']`);

        // Премахваме класа hidden от десния бутон, ако съществува
        increaseButtonB.classList.remove('hidden');

        let currentQuantity = parseInt(inputElement.value);
        currentQuantity += 1

        if (currentQuantity + 1 > maxQuantity) {
                currentQuantity = maxQuantity - 1;
                updatePriceDec(inputElement, price)}

        else if (currentQuantity > 1) {
            currentQuantity -= 1;
            inputElement.value = currentQuantity;
            updatePriceDec(inputElement, price);

            // Ако количеството е 1, скриваме бутона за намаляване
            if (currentQuantity - 1 <= 1) {
                currentQuantity = 1
                button.classList.add('hidden');
            }
        } else {
            alert("Не можете да намалите количеството под 1.");
            button.disabled = true;  // Деактивираме бутона
            button.classList.add('hidden');  // Скриваме бутона
        }

        // Ако количеството е по-малко от максимума, бутонът за увеличаване става активен
        if (currentQuantity < maxQuantity) {
            increaseButtonB.disabled = false;
            increaseButtonB.classList.remove('hidden');
        } else {
            increaseButtonB.disabled = true;
        }
    });
});
    function updatePrice(inputElement, price) {
        var quantity = parseInt(inputElement.value);
        quantity += 1;
        const totalPrice = quantity * price;
        const totalPriceElement = document.getElementById('total-price-' + inputElement.getAttribute('data-id') + '-' + inputElement.getAttribute('data-size'));
        totalPriceElement.textContent = `$${totalPrice.toFixed(2)}`;
    }

    function updatePriceDec(inputElement, price) {
        var quantity = parseInt(inputElement.value);
        quantity -= 1;
        const totalPrice = quantity * price;
        const totalPriceElement = document.getElementById('total-price-' + inputElement.getAttribute('data-id') + '-' + inputElement.getAttribute('data-size'));
        totalPriceElement.textContent = `$${totalPrice.toFixed(2)}`;
    }

    // Функция за добавяне на продукт в OrderItems чрез AJAX
    function addItemToOrder(productId, sizeId) {

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        console.log('aaaa')
        fetch('/carts/add-to-order/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
          },
          body: JSON.stringify({
            product_id: productId,
            size_id: sizeId
          })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
            }

    function removeItemFromOrder(productId, sizeId) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch('/carts/remove-from-order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                product_id: productId,
                size_id: sizeId,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Item removed from order:', data);
        })
        .catch(error => {
            console.error('Error removing item from order:', error);
        });
    }

    // Функция за актуализиране на общата стойност на количката
    function updateCartTotal() {
        fetch('/update-cart-total/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                const totalPriceElement = document.getElementById('cart-total-price');
                totalPriceElement.textContent = `$${data.total_price.toFixed(2)}`;
            }
        })
        .catch(error => {
            console.error('Error updating cart total:', error);
        });
    }
});

</script>