{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .size-options {
            position: relative;
            z-index: 10;
            }

        .size-option {
            cursor: pointer; /* Pointer cursor to show it's clickable */
            display: inline-block;
            margin: 5px;
        }

        .size-option.selected {
            background-color: #e6dddd;
            color: white;
            border-color: #e6dddd;
        }

        .size-option:hover {
            background-color: #e6dddd;
        }
    </style>

    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="{% url 'common' %}">Home</a>
                            <a href="{% url 'all-products' %}">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">

                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="{{ object.main_image.url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>{{ object.name }}</h4>
                            <h3>{{ object.price }} $</h3>
                            <p>{{ object.description }}</p>
                            <div class="product__details__option">
                                {% if is_authenticated %}


                                <a href="javascript:void(0);" class="add-cart" data-product-id="{{ product.id }}" data-product-type="{{ product.category.name }}" data-accessory-id="{{product.accessory.id}}">+ Show sizes</a>

                                            <!-- Choose a size text (this will be shown when "Add to Cart" is clicked) -->
                                            <div id="choose-size-text-{{ product.id }}" style="display:none;">
                                                <p>Choose a size</p>
                                                <a href="javascript:void(0);" class="close-size-selection" data-product-id="{{ product.id }}">
                                                        <span class="icon_close"></span>
                                                </a>
                                            </div>

                                            <!-- Size selection form (initially hidden) -->
                                                <div class="size-selection-form" id="size-selection-{{ product.id }}" style="display:none;">
                                                    <form id="size-form-{{ product.id }}" class="size-form">
                                                        <div class="size-options" id="size-options-{{ product.id }}" style="display: flex; justify-content: space-around">
                                                            <!-- Dynamically generated size options -->
                                                        </div>
                                                    </form>
                                                </div>
                                {% endif %}
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="product__details__cart__option">
                                    <a href="#" class="primary-btn" id="add-to-cart-btn">add to cart</a>
                                </div>
                                <div class="product__details__btns__option">
                                    <a href="javascript:void(0);"  class="primary-btn" id="add-to-wishlist-btn" onclick="addToWishlist(this)" data-product-id="{{ pk_product }}"><i class="fa fa-heart"></i> add to wishlist</a>
                                </div>
                            {% endif %}
                            <div class="product__details__last__option">
                                <ul>
                                    <li><span>Categories:</span> {{ object.category.name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>
            <div class="row">
                {% for product in similar_products %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                                    <div class="product__item product-list">
                                        <div class="product__item__pic set-bg" data-setbg="{{ product.main_image.url }}">
                                            <a href="{% url 'detail_product' product.pk %}">
                                                <img src="{{ product.main_image.url }}" alt="{{ product.name }}">
                                            </a>

                                            <ul class="product__hover">
                                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
                                                <li  class="wishlist-item" data-product-id="{{ product.id }}" >
                                                    <a href="javascript:void(0);" class="add-to-wishlist">
                                                    {% if request.user.is_authenticated %}

                                                        {% for el in wishlist_item %}
                                                            {% if product.id == el.product_id %}
                                                                <img src="{% static 'img/icon/heart-solid-svgrepo-com(1).svg' %}" alt="">
                                                            {% else %}
                                                                <img src="{% static 'img/icon/heart.png' %}" alt="">
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if not wishlist_item %}
                                                            <img src="{% static 'img/icon/heart.png' %}" alt="">

                                                        {% endif %}
                                                        </a>
                                                        <span>Like it</span>
                                                    {% endif %}
                                                </li>
                                                 {% if has_perm %}
                                                    <li><a href=""><img src="{% static 'img/icon/trash-solid.svg' %}" alt=""></a><span>Delete Product</span></li>
                                                    <li><a href="{% url 'edit_product' product.id %}"><img src="{% static 'img/icon/pen-to-square-regular.svg' %}" alt=""></a><span>Edit Product</span></li>
                                                {% endif %}


                                            </ul>
                                        </div>

                                        <div class="product__item__text">
                                            <h6>{{ product.name }}</h6>
                                            {% if is_authenticated %}

                                            <!-- Add to Cart button -->
                                            <a href="javascript:void(0);" class="add-cart" data-product-id="{{ product.id }}" data-product-type="{{ product.category.name }}" data-accessory-id="{{product.accessory.id}}">+ Add To Cart</a>

                                            <!-- Choose a size text (this will be shown when "Add to Cart" is clicked) -->
                                            <div id="choose-size-text-{{ product.id }}" style="display:none;">
                                                <p>Choose a size</p>
                                                <a href="javascript:void(0);" class="close-size-selection" data-product-id="{{ product.id }}">
                                                        <span class="icon_close"></span>
                                                </a>
                                            </div>

                                            <!-- Size selection form (initially hidden) -->
                                                <div class="size-selection-form" id="size-selection-{{ product.id }}" style="display:none;">
                                                    <form id="size-form-{{ product.id }}" class="size-form">
                                                        <div class="size-options" id="size-options-{{ product.id }}" style="display: flex; justify-content: space-around">
                                                            <!-- Dynamically generated size options -->
                                                        </div>
                                                        {% if is_authenticated %}
                                                            <button type="submit" class="btn btn-secondary">Add to Cart</button>
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            {% endif %}
                                            <h5>{{ product.price }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
            </div>
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    function addToWishlist(buttonElement) {
        console.log(buttonElement)
    // Вземаме ID-то на продукта от data атрибута на бутона
    const productId = buttonElement.getAttribute('data-product-id');
    if (!productId) {
        console.error('Product ID not found.');
        return;
    }

    // Проверяваме дали продуктът е в wish list (localStorage)
    let wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];

    if (wishlist.includes(productId)) {
        // Ако продуктът вече е в wish list, го премахваме
        wishlist = wishlist.filter(id => id !== productId);
        localStorage.setItem('wishlist', JSON.stringify(wishlist));

        // Променяме текста на бутона обратно на "add to wishlist"
        buttonElement.innerHTML = '<i class="fa fa-heart"></i> add to wishlist';

        // Може да изпратим заявка към сървъра за премахване от wish list
        fetch(`/api/toggle-wishlist/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while removing from wishlist.');
        });

    } else {
        // Ако продуктът не е в wish list, го добавяме
        wishlist.push(productId);
        localStorage.setItem('wishlist', JSON.stringify(wishlist));

        // Променяме текста на бутона на "added"
        buttonElement.innerHTML = '<i class="fa fa-heart"></i> added';

        // Може да изпратим заявка към сървъра за добавяне в wish list
        fetch(`/api/toggle-wishlist/${productId}/`, {
            method: 'POST', // Метод за добавяне
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while adding to wishlist.');
        });
    }
}

// При зареждане на страницата възстановяваме състоянието на wish list
document.addEventListener('DOMContentLoaded', function() {
    const wishlistButton = document.getElementById('add-to-wishlist-btn');
    const productId = wishlistButton.getAttribute('data-product-id');

    // Проверяваме дали продуктът е в localStorage
    let wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
    if (wishlist.includes(productId)) {
        // Ако продуктът е в wish list, променяме текста на бутона на "added"
        wishlistButton.innerHTML = '<i class="fa fa-heart"></i> added';
    }
});
    document.addEventListener("DOMContentLoaded", function() {
        const wishlistButtons = document.querySelectorAll('.add-to-wishlist');

        wishlistButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                const productId = this.closest('.wishlist-item').getAttribute('data-product-id');
                const heartIcon = this.querySelector('img'); // Вземаме иконата на сърцето

                // Изпращаме POST/DELETE заявка за добавяне/премахване на продукта от wishlist
                fetch(`/api/toggle-wishlist/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Променяме иконата на сърцето в зависимост от резултата
                    if (data.message === 'Product added to wishlist') {
                        heartIcon.src = "{% static 'img/icon/heart-solid-svgrepo-com(1).svg' %}";
                        console.log(heartIcon)
                        console.log('Product added to wishlist')
                    } else if (data.message === 'Product removed from wishlist') {
                        heartIcon.src = "{% static 'img/icon/heart.png' %}";
                        console.log(heartIcon)
                        console.log('Product removed from wishlist')

                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while toggling the wishlist.');
                });
            });
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

        var closeButton = document.querySelector('.icon_close');

        // Add click event listener
        closeButton.addEventListener('click', function() {
            // Clear the search query (e.g., input field)
            var searchInput = document.getElementById('searchbar');
            searchInput.value = '';  // Clears the input field
            console.log(searchInput)

            // Optionally, you could also clear any other displayed search query
            // For example, if you have a div or span showing the search query, clear it:
            var displayedQuery = document.getElementById('displayedSearchQuery');
            if (displayedQuery) {
                displayedQuery.textContent = '';  // Clear the displayed query
            }
        });


    document.getElementById('add-to-cart-btn').addEventListener('click', function(e) {
    e.preventDefault();  // Спиране на стандартното поведение на бутона
    console.log('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa');

    // Вземане на избрания размер
    var selectedSize = document.querySelector('input[name="size"]:checked');

    // Проверка дали размер е избран
    var size = selectedSize ? selectedSize.value : null;  // Ако размер е избран, взимаме стойността му, иначе поставяме `null`

    var productId = '{{ product.id }}';
    const url = `/product/add-to-cart/${productId}/`;

    // Създаване на данни за тялото на заявката
    var requestData = {
        product_id: productId
    };

    // Ако има избран размер, добавяме го в заявката
    if (size) {
        requestData.size = size;
    }

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен за защита на POST заявката
        },
        body: JSON.stringify(requestData)
    })
    .then(response => response.json())
    .then(data => {
        if (data.detail === "Product added to cart successfully.") {
            alert('Продуктът беше добавен в кошницата!');
        } else {
            alert(data.detail);
        }
    })
    .catch(error => {
        console.error('Грешка:', error);
        alert('Грешка при добавяне на продукта в кошницата.');
    });
});

        $(document).ready(function() {
    // Обработване на клик върху бутона "Add to Cart" (показване на формата за избор на размер)
    $('.add-cart').click(function(event) {
        event.preventDefault();  // Предотвратяваме стандартното поведение

        var productId = $(this).data('product-id');  // Вземаме ID на продукта
        var sizeSelectionForm = $('#size-selection-' + productId); // Вземаме формата за избор на размер
        var sizeOptionsDiv = $('#size-options-' + productId); // Вземаме контейнера за опциите за размери
        var addToCartButton = $(this); // Бутонът "Add to Cart"
        var chooseSizeText = $('#choose-size-text-' + productId); // Текста "Choose a size"

        // Скриваме бутона "Add to Cart" и показваме формата за избор на размер
        addToCartButton.hide();  // Скриваме бутона
        sizeSelectionForm.show(); // Показваме формата
        chooseSizeText.show();  // Показваме текста "Choose a size"

        // Извършваме AJAX заявка за наличните размери за продукта
        var url = '/product/get-sizes/' + productId + '/';  // URL за извличане на размерите
        var csrfToken = $('meta[name="csrf-token"]').attr('content');  // Вземаме CSRF токена

        $.ajax({
            url: url,  // API endpoint за заявка за размери
            method: 'GET',  // Използваме GET за получаване на размери
            headers: {
                'X-CSRFToken': csrfToken  // Добавяме CSRF токен за сигурност
            },
            success: function(response) {
                if (response.sizes) {
                    // Почистваме старите опции за размери преди да добавим нови
                    sizeOptionsDiv.empty();

                    // Добавяме новите опции за размери към формата
                    response.sizes.forEach(function(size) {
                        var sizeOption = '<label class="size-option"><input type="radio" name="size" value="' + size.size + '"> ' + size.size + ' (' + size.stock_quantity + ') </label><br>';

                        // Ако количеството е по-малко или равно на 0, правим опцията неактивна
                        if (size.stock_quantity <= 0) {
                            sizeOption = '<label class="size-option disabled"><input type="radio" name="size" value="' + size.size + '" disabled> ' + size.size + ' (' + size.stock_quantity + ') </label><br>';
                        }

                        // Добавяме опцията към контейнера
                        sizeOptionsDiv.append(sizeOption);
                    });

                    // Добавяме събитие при избор на размер
                    $('.size-option').click(function() {
                        var selectedSize = $(this).find('input').val(); // Вземаме избрания размер

                        // Подчертаваме избрания размер
                        $(this).addClass('selected').siblings().removeClass('selected');

                        // Записваме избрания размер в data атрибута на формата
                        $('#size-selection-' + productId).data('selected-size', selectedSize);
                    });
                } else {
                    alert('Няма налични размери за този продукт.');
                }
            },
            error: function(xhr, status, error) {
                alert('Грешка при извличането на размерите.');
                console.log(xhr.responseText);  // Логваме грешките
            }
        });
    });
});

    // Handle the form submission (when user clicks "Add to Cart" after selecting a size)
    $(document).on('submit', '.size-form', function(event) {
        event.preventDefault();  // Prevent form submission

        var productId = $(this).attr('id').split('-')[2];  // Get the product ID from the form ID
        var selectedSize = $('#size-selection-' + productId).data('selected-size');  // Get the selected size

        if (!selectedSize) {
            // If no size is selected, show an error message
            alert("Please select a size before adding to cart.");
            return;  // Prevent form submission if no size is selected
        }

        // Send the selected size and product ID to the server to add the item to the cart
        var url = '/product/add-to-cart/' + productId + '/';  // API endpoint to add the product to the cart
        var csrfToken = $('meta[name="csrf-token"]').attr('content');  // CSRF token

        $.ajax({
            url: url,  // API endpoint to handle the POST request
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken  // Include CSRF token for security
            },
            data: {
                product_id: productId,
                size: selectedSize  // Send selected size with the request
            },
            success: function(response) {
                alert('Product added to cart!');
                console.log(response);  // Log the response from the server

                // After adding the product to the cart, reset the form and size selection
                $('#choose-size-text-' + productId).hide();
                $('#size-selection-' + productId).hide();
                $('a[data-product-id="' + productId + '"]').show();  // Show the "Add to Cart" button again

                // Clear selected size data to ensure it doesn't persist
                $('#size-selection-' + productId).data('selected-size', null);  // Reset the selected size

                // Optionally, you can clear the selected radio button to avoid any stale data
                $('#size-options-' + productId).find('input[type="radio"]').prop('checked', false);
            },
            error: function(xhr, status, error) {
                alert('Error adding product to cart.');
                console.log(xhr.responseText);  // Log any error messages
            }
        });
    });

    // Close the size selection when the "x" link is clicked
    $(document).on('click', '.close-size-selection', function(event) {
        var productId = $(this).data('product-id');  // Get the product ID from the clicked link
        var sizeSelectionForm = $('#size-selection-' + productId); // Get the size selection form
        var chooseSizeText = $('#choose-size-text-' + productId); // The "Choose a size" text
        var addToCartButton = $('a[data-product-id="' + productId + '"]'); // Get the Add to Cart button

        // Hide the size selection form and "Choose a size" text
        sizeSelectionForm.hide();
        chooseSizeText.hide();

        // Show the "Add to Cart" button again
        addToCartButton.show();
    })



        $(document).ready(function(){
            $(".category-filter, .brand-filter, .price-filter, .size-filter, .color-filter, .price-sort").click(function(e){
                e.preventDefault();

                var category = $(this).data('category');
                var brand = $(this).data('brand');
                var price = $(this).data('price');
                var size = $(this).data('size');
                var color = $(this).data('color');

                var sort_price = '';

                var searchQuery = $('#searchbar').val() || '';

                if(category){
                    if ($(this).hasClass('active')) {
                        $('.category-filter').removeClass('active btn-secondary');
                        category = '';
                    } else {
                        $('.category-filter').removeClass('active btn-secondary');
                        $(this).addClass('active btn-secondary');
                    }
                }else if(brand){
                    if ($(this).hasClass('active')) {
                        $('.brand-filter').removeClass('active btn-secondary');
                        brand = '';
                    } else {
                        $('.brand-filter').removeClass('active btn-secondary');
                        $(this).addClass('active btn-secondary');
                    }
                }else if(price){
                    if ($(this).hasClass('active')) {
                        $('.price-filter').removeClass('active btn-secondary');
                        price = '';
                    } else {
                        $('.price-filter').removeClass('active btn-secondary');
                        $(this).addClass('active btn-secondary');
                    }
                }else if(size){
                    var radioButton = $('#' + $(this).attr('for'));

                    if (radioButton.prop('checked')) {
                        radioButton.prop('checked', false);
                        $(this).removeClass('active btn-secondary');
                        size=''
                    } else {
                        radioButton.prop('checked', true);
                        $(this).addClass('active btn-secondary');

                        $('.size-filter').not(this).removeClass('active btn-secondary');

                        $('.size-filter').not(this).each(function() {
                            var otherRadioButton = $('#' + $(this).attr('for'));
                            otherRadioButton.prop('checked', false);
                        });
                    }
                }else if(color) {
                    var radioButton = $('#' + $(this).attr('for'));

                    if (radioButton.prop('checked')) {
                        radioButton.prop('checked', false);
                        $(this).removeClass('selected');
                        color = ''
                    } else {
                        $(this).addClass('selected');
                        radioButton.prop('checked', true);
                    }

                    $('.color-filter').not(this).removeClass('selected');

                    $('.color-filter').not(this).each(function () {
                        var otherRadioButton = $('#' + $(this).attr('for'));
                        otherRadioButton.prop('checked', false);
                    });

                    e.stopImmediatePropagation();
                }


                // Capture the selected sort price value (dropdown change event)
                var selectedSort = $(".shop__product__option__right select").val();  // Get the selected value from the dropdown
                if (selectedSort) {
                    if (selectedSort === "Low To High") {
                        sort_price = "Low To High";
                    } else if (selectedSort === "High To Low") {
                        sort_price = "High To Low";
                    } else {
                        sort_price = "None"; // Handle the "None" option
                    }
                }

                var elements = $(".active.btn-secondary, .selected")
                if (elements) {

                    elements.each(function() {
                        var el = $(this);
                        if(el.data('category')){
                            category = el.data('category')
                        }else if(el.data('brand')){
                            brand = el.data('brand')}
                        else if(el.data('price')) {
                            price = el.data('price')
                        }else if(el.data('size')) {
                            size = el.data('size')
                        }else if(el.data('color')) {
                            color = el.data('color')
                        }
                        sorted_price = sort_price
                        searched_data = searchQuery
                    });
                }
                    filterProducts(category, brand, price, size, color, sorted_price, searched_data);
                });

                $(".shop__product__option__right select").change(function() {
                var selectedSort = $(this).val();  // Get the selected value from the dropdown
                var category = $('.category-filter.active').data('category') || '';
                var brand = $('.brand-filter.active').data('brand') || '';
                var price = $('.price-filter.active').data('price') || '';
                var size = $('.size-filter.active').data('size') || '';
                var color = $('.color-filter.selected').data('color') || '';
                var searchQuery = $('#searchbar').val() || '';

                $('#searchbar').val(searchQuery);  // Populate the search field with the current search term


                filterProducts(category, brand, price, size, color, selectedSort, searchQuery);

        });
            function filterProducts(category, brand, price, size, color, sort_price, searchQuery) {
    $.ajax({
        url: "{% url 'all-products' %}",
        data: {
            'category': category,
            'brand': brand,
            'price': price,
            'size': size,
            'color': color,
            'sort-price': sort_price,
            'search_data': searchQuery,
        },
        dataType: 'json',
        success: function(response) {
            $('#filtered-products').empty();

            if (response.products && Array.isArray(response.products)) {
                var productsLength = response.products.length;
                var productCountMessage = '';
                if (productsLength === 0) {
                    productCountMessage = `No results`;
                } else if (productsLength === 1) {
                    productCountMessage = `Showing 1 of ${productsLength} result`;
                } else if (productsLength < 12) {
                    productCountMessage = `Showing 1-${productsLength} of ${productsLength} results`;
                } else {
                    productCountMessage = `Showing 1-12 of ${productsLength} results`;
                }

                // Update the product count message dynamically (client-side)
                $('.shop__product__option__left').html(`<p>${productCountMessage}</p>`);


                // Handle the "Add to Cart" button click
                $('.add-cart').click(function(event) {
                    event.preventDefault();  // Prevent default action

                    var productId = $(this).data('product-id');  // Get the product ID
                    var sizeSelectionForm = $('#size-selection-' + productId); // Get the size selection form
                    var sizeOptionsDiv = $('#size-options-' + productId); // Get the size options container
                    var addToCartButton = $(this); // The Add to Cart button
                    var chooseSizeText = $('#choose-size-text-' + productId); // The "Choose a size" text

                    // Show the size selection form when the "Add to Cart" button is clicked
                    sizeSelectionForm.show();

                    // Hide the "Add to Cart" button
                    addToCartButton.hide();

                    // Show the "Choose a size" text and ensure it stays visible
                    chooseSizeText.show();

                    // Fetch available sizes for the product via AJAX
                    var url = '/product/get-sizes/' + productId + '/';  // Correct URL for fetching sizes
                    var csrfToken = $('meta[name="csrf-token"]').attr('content');  // CSRF token

                    $.ajax({
                        url: url,  // API endpoint to handle the GET request
                        method: 'GET',  // Use GET to fetch sizes
                        headers: {
                            'X-CSRFToken': csrfToken  // Include CSRF token for security
                        },
                        success: function(response) {
                            if (response.sizes) {
                                // Clear any existing size options before adding new ones
                                sizeOptionsDiv.empty();

                                // Dynamically add size options to the form (now wrapped in <label>)
                                response.sizes.forEach(function(size) {
                                    sizeOptionsDiv.append(
                                        '<label class="size-option"><input type="radio" name="size" value="' + size + '"> ' + size + '</label><br>'
                                    );
                                });

                                // Add click event listener to size options
                                $('.size-option').click(function() {
                                    var selectedSize = $(this).find('input').val(); // Get the selected size

                                    // Optionally, highlight the selected size
                                    $(this).addClass('selected').siblings().removeClass('selected');

                                    // Store the selected size in a data attribute
                                    $('#size-selection-' + productId).data('selected-size', selectedSize);
                                });
                            } else {
                                alert('No sizes available for this product.');
                            }
                        },
                        error: function(xhr, status, error) {
                            alert('Error fetching product sizes.');
                            console.log(xhr.responseText);  // Log any error messages
                        }
                    });
                });

                // Handle the close (X) button click
                $(document).on('click', '.close-size-selection', function(event) {
                    var productId = $(this).data('product-id');  // Get the product ID from the clicked link
                    var sizeSelectionForm = $('#size-selection-' + productId); // Get the size selection form
                    var chooseSizeText = $('#choose-size-text-' + productId); // The "Choose a size" text
                    var addToCartButton = $('a[data-product-id="' + productId + '"]'); // Get the Add to Cart button

                    // Hide the size selection form and "Choose a size" text
                    sizeSelectionForm.hide();
                    chooseSizeText.hide();

                    // Show the "Add to Cart" button again
                    addToCartButton.show();
                });

            } else {
                console.error("Error: No products found in response.");
            }
        },
        error: function(xhr, status, error) {
            console.error("Error fetching products: " + error);
        }
    });
}
            })
</script>

{% endblock %}